
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/

/vendor/
###< symfony/framework-bundle ###
/apps/social/backend/var/
/apps/backoffice/backend/var/
###> friends-of-behat/symfony-extension ###
###< friends-of-behat/symfony-extension ###

###> phpunit/phpunit ###
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
